
  <mat-card class="adminTopNav">
    <div class="columns">
    <div class="column is-3 imageDiv">
      <img src="../../../assets/img/sajilo_logo.png" class="logoImage">
    </div>
    <div class="column is-6 welcomeText">Welcome Admin</div>
    <div class="column is-3 adminUserIconDiv">
      <div class="adminUserIcon"></div>
    </div>
    </div>
  </mat-card>

<div class="columns contentAreaAdmin">
<div class="column is-3 adminNavBar">
  <div class="navItems" matRipple [matRippleUnbounded]=true (click)="changeAdminContent(1)"><i class="material-icons">apps</i><span>Dashboard</span></div>
  <div class="navItems" (click)="changeAdminContent(2)"><i class="material-icons">how_to_reg</i><span>User Requests</span></div>
  <div class="navItems" (click)="changeAdminContent(3)"><i class="material-icons">dvr</i><span>Posts</span></div>
  <div class="navItems" (click)="changeAdminContent(4)"><i class="material-icons">whatshot</i><span>Negotiations</span></div>
  <div class="navItems" (click)="changeAdminContent(5)"><i class="material-icons">notifications</i><span>Feedbacks</span></div>
  <div class="navItems" (click)="changeAdminContent(6)"><i class="material-icons">settings</i><span>Settings</span></div>
</div>
  <div class="column is-9">
    <div *ngIf="adminPageContent==1" class="adminPageC">
      <div class="welcomeAdminPage">
        <span class="excuseText">Excuse Me Admin, You have</span>
        <div class="welcomeContent">
          <mat-card class="userReq" (click)="changeAdminContent(2)">
            <div><span class="total">Total Users: 299</span><br>11 User Requests Pending</div>
          </mat-card>
          <mat-card class="postApprov" (click)="changeAdminContent(3)">
            <div><span class="total">350 Posts Made</span> <br> 300 Posts Approval Pending</div>
          </mat-card>
          <mat-card class="negoMade" (click)="changeAdminContent(4)">
            <div><span class="total">170 Negotiations made </span><br> 9 Negotiations Pending</div>
          </mat-card>
          <mat-card class="feedbacks" (click)="changeAdminContent(5)">
            <div>17 Feedbacks</div>
          </mat-card>
        </div>
      </div>
    </div>
    <div *ngIf="adminPageContent==2">
      <app-user-request></app-user-request>
    </div>
    <div *ngIf="adminPageContent==3">
      <app-post-approval></app-post-approval>
    </div>
    <div *ngIf="adminPageContent==4">
      <app-negotiation></app-negotiation>
    </div>
    <div *ngIf="adminPageContent==5">
      <app-feedback></app-feedback>
    </div>
    <div *ngIf="adminPageContent==6">
      <app-settings></app-settings>
    </div>

    </div>
</div>
