.adminTopNav{
  background-color:black;
  position:fixed;
  top:0;
  width:100%;
  height:6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding:0 5vh;
  border-radius: 0;
  .columns{
    margin:0;
    width:100%;
    align-items:center;
  .imageDiv{
    display: flex;
    align-content: flex-start;
    padding: 0 15px;
  .logoImage{
    height:5vh;
    width:auto;
    left:15px;
  }
  }
  .welcomeText{
    color:white;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .adminUserIconDiv {
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    .adminUserIcon {

      height: 30px;
      width: 30px;
      border-radius: 50px;
      background-color: white;
      border: white solid 3px;
    }
  }
  }
}

.contentAreaAdmin{
  color:black;
  margin-top:5vh;
  margin-left:0;
  height:95vh;
  .adminNavBar{
    margin:0;
    padding:0;
    background-color:rgba(0,0,0,0.85);
    display:flex;
    color:white;
    flex-direction: column;
    flex-wrap: wrap;
    .navItems{
      cursor:pointer;
      display:flex;
      justify-content: center;
      align-content: center;
      padding:3vh 0;
      width:100%;
      text-align: center;
      align-items: center;
      flex-direction: row;
      border-bottom: rgba(255,255,255,0.02) solid 0.5px;
    }
    .navItems:hover{
      background-color:rgb(0,209,178);
    }
    .navItems:active{
      background-color:rgb(0,209,178);

    }
  }
}
.material-icons{
  position:absolute;
  left:5vh;
}


.excuseText{
  font-size: 30px;
}
.welcomeContent{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding:5vh;
  mat-card{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    width:50vh;
    height:20vh;
    //padding:10vh;
    margin-left:3vh;
    margin-bottom:3vh;

    color:white;
    .total{
      font-size:18px;
      font-weight: bolder;

    }
  }
  .userReq{
    background-color: rgb(0,209,98);
  }
  .postApprov{
    background-color: rgba(0,0,0,0.9);
  }
  .negoMade{
    background-color: rgb(0,209,98);
  }
  .feedbacks{
    background-color: rgba(0,0,0,0.87);
  }
}
