<div class="postPage">
  <mat-card class="post">
    <div class="columns">
      <div class="column is-4 imageHero"><img src="../../../../assets/img/img1.png" class="imgPost"></div>
      <div class="column is-5">
        <mat-card-title>Call for hardwares</mat-card-title>
        <mat-card-subtitle>Quality:High<br> Quantity:30kgs
          <br>
          About Customer:
          <p>
            <i class="material-icons">star_rate</i><i class="material-icons">star_rate</i><i class="material-icons">star_rate</i><i class="material-icons">star_rate</i><i class="material-icons">star_rate</i>
          </p>
          <div class="columns customerdetails" >
            <div class="column is-4">
              <i class="material-icons">done</i>Verified</div>
            <div class="column is-4">25 Negotiations</div>
            <div class="column is-4">20 Deals</div>
          </div>
          <mat-chip-list><mat-chip>electronic</mat-chip><mat-chip>textiles</mat-chip><mat-chip>Hello</mat-chip></mat-chip-list>
          <br>
        </mat-card-subtitle>
      </div>
      <div class="column is-3">
        <mat-card-subtitle align="center">
          Upto Rs. 50000
          <br>
          Negotiable
          <br>
          <mat-card-title>Total bids:45</mat-card-title>
          <button class="button is-primary is-large">Edit post</button>
        </mat-card-subtitle>
      </div>

    </div>
    <div class="description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, quia recusandae? Accusamus aperiam deserunt doloribus
      eligendi eum explicabo incidunt inventore labore necessitatibus, perferendis praesentium quam qui quisquam reiciendis
      repellat vitae
    </div>
  </mat-card>
  <mat-card>
    <table matSort (matSortChange)="sortData($event)">
      <tr>
        <th mat-sort-header="name">Dessert (100g)</th>
        <th mat-sort-header="calories">Calories</th>
        <th mat-sort-header="fat">Fat (g)</th>
        <th mat-sort-header="carbs">Carbs (g)</th>
        <th mat-sort-header="protein">Protein (g)</th>
      </tr>

      <tr *ngFor="let dessert of sortedData">
        <td>{{dessert.name}}</td>
        <td>{{dessert.calories}}</td>
        <td>{{dessert.fat}}</td>
        <td>{{dessert.carbs}}</td>
        <td>{{dessert.protein}}</td>
      </tr>
    </table>
  </mat-card>
  <mat-card>
    <input #stars  (keyup)="onKey(stars.value)" (keydown.backspace)="reset()">
  {{starnumber}}
    <span *ngFor="let star of starArray">
      <i>one</i><br>
    </span>
  </mat-card>
</div>
