div.postPage{
  padding:5% 15%;
  background-color: rgba(0,0,0,0.08);
}


div.customerdetails{
  vertical-align: middle;
  margin:0;
  width:100%;
  padding:0;
  .is-4{
    padding:3px;
    vertical-align: middle;
    display: flex;
    width:100px;
  }
}

mat-card.post{
  flex-direction: column;
  background-color:white;
  .columns{
    .column{
      padding:0;
    }
    .imageHero {
      justify-content: center;
      overflow:hidden;
      img{
        width: 200px;
        margin:auto;
        display:block;
      }

    }
    .is-5{
      text-align: left;
      //height: 200px;
    }
  }
}

i{
  padding:0;
  margin:0;
  width:24px;
}

mat-card-title{
  color:rgb(0,209,178);
}

mat-card{
  margin-bottom:2%;
}
