div.registrationPage{
  background-image:linear-gradient(-90deg, rgb(41,249,188), rgb(35,194,205));
  background-attachment: fixed ;
  background-size: cover;
  position:fixed;
  display: flex;
  height:100%;
  width:100%;
  //position: relative;
  padding: 5% 0;
}
mat-card{
  background-color: white;
  margin: auto;
  width: 800px;
  //position:absolute;
  //overflow:visible;
}
mat-form-field, mat-radio-button{
  padding:5px;
}
button{
  margin: 15px 0 0 5px;
}
.CompanyDetails{
  display: flex;
  flex-direction: column;
  width: 100%;
  form{
    mat-form-field{
      background: green;
      width:500px;
      input{
        width:300px;
      }
      }
  }
}
mat-form-field{
  width:300px;
}
mat-chip{
  cursor:pointer;
}
.terms{
  height:300px;
  overflow:auto;
}
