<div class="registrationPage">
<mat-card>
  <mat-vertical-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field>
          <input matInput placeholder="First name" formControlName="firstname" required>
        </mat-form-field>
          <mat-form-field>
          <input matInput placeholder="Last name" formControlName="lastname"  required>
        </mat-form-field>
        <br>

        <br>
        <mat-label> Gender:</mat-label>
        <mat-radio-group formControlName="gender">
          <mat-radio-button value="Male">Male</mat-radio-button>
          <mat-radio-button  value="Female">Female</mat-radio-button>
          <br>
        </mat-radio-group>

        <div>
          <button class="button is-primary" mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" class="CompanyDetails">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Company Details</ng-template>
        <mat-form-field class="cname">
          <input matInput formControlName="companyname" placeholder="Company name" id="companyname" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="tagline" placeholder="Tagline" id="tagline" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <textarea matInput formControlName="companydescription" placeholder="Tell us a little something about yourself" rows="1" id="companydescription" required></textarea>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput formControlName="position" placeholder="Your position" id="position" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="companylocation" placeholder="Location" id="companylocation" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="contactnumber" placeholder="Contact number" id="contactnumber" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="companyoptionalnumber" placeholder="Optional number" id="optionalnumber" required>
        </mat-form-field>
<br>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Date of establishment" formControlName="doe" >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
        </mat-form-field>
        <div>
          <button class="button is-primary" mat-button matStepperPrevious>Back</button>
          <button class="button is-primary" mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup" class="CompanyDetails">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Expertise</ng-template>
        <mat-label>What are you good at?</mat-label>
        <br>

        <mat-form-field>
           <mat-select placeholder="Category" formControlName="categoryCtrl">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let categoryName of listofcategories" [value]="categoryName">
                    {{categoryName}}
                  </mat-option>
                </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-chip-list #tagList>
            <mat-chip
              *ngFor="let tag of tags"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(tag)">
              {{tag}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Tags"
              #tagInput
              formControlName="tagCtrl"
              [matAutocomplete]="auto"
              [matChipInputFor]="tagList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let filteredtag of filteredTags | async" [value]="filteredtag">
              {{filteredtag}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <br>
        <div>
          <button class="button is-primary" mat-button matStepperPrevious>Back</button>
          <button class="button is-primary" mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step><mat-step [stepControl]="fourthFormGroup" class="CompanyDetails">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>Certification</ng-template>
      <mat-card-title>Show how customers can trust you</mat-card-title>
      <mat-card-subtitle>Provide us the copies of the following certifications with size 25MB or less.</mat-card-subtitle>
      <mat-label>PAN Registration Certificate</mat-label><br>
        <input type=file placeholder="Company name"  required><br>
      <mat-label>PAN Registration Certificate</mat-label><br>
      <input type=file placeholder="Company name"required>
      <br>
      <div>
        <button class="button is-primary" mat-button matStepperPrevious>Back</button>
        <button class="button is-primary" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
    <mat-step>
      <ng-template matStepLabel>Terms and Conditions</ng-template>
      <mat-card-content class="terms">
        Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Adipisci aspernatur beatae commodi, consectetur corporis culpa deserunt eius, expedita
        ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi, consectetur corporis culpa deserunt eius, expedita
        ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi, consectetur corporis culpa deserunt eius, expedita
        ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi, consectetur corporis culpa deserunt eius, expedita
        ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi, consectetur corporis culpa deserunt eius, expedita
        ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi, consectetur corporis culpa deserunt eius, expedita
        ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi, consectetur corporis culpa deserunt eius, expedita
        ipsum iste natus necessitatibus nobis omnisipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi, consectetur corporis culpa deserunt eius, expedita
        ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi, consectetur corporis culpa deserunt eius, expedita
        ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi, consectetur corporis culpa deserunt eius, expedita
        ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi, consectetur corporis culpa deserunt eius, expedita
        ipsum iste natus necessitatibus nobis omnisadipisicing eliipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi, consectetur corporis culpa deserunt eius, expedita
        ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi, consectetur corporis culpa deserunt eius, expedita
        ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi, consectetur corporis culpa deserunt eius, expedita
        ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi, consectetur corporis culpa deserunt eius, expedita
        ipsum iste natus necessitatibus nobis omnisadipisicing eliipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi, consectetur corporis culpa deserunt eius, expedita
        ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi, consectetur corporis culpa deserunt eius, expedita
        ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi, consectetur corporis culpa deserunt eius, expedita
        ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi, consectetur corporis culpa deserunt eius, expedita
        ipsum iste natus necessitatibus nobis omnisadipisicing eliipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi, consectetur corporis culpa deserunt eius, expedita
        ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi, consectetur corporis culpa deserunt eius, expedita
        ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi, consectetur corporis culpa deserunt eius, expedita
        ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi, consectetur corporis culpa deserunt eius, expedita
        ipsum iste natus necessitatibus nobis omnisadipisicing eliipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi, consectetur corporis culpa deserunt eius, expedita
        ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi, consectetur corporis culpa deserunt eius, expedita
        ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi, consectetur corporis culpa deserunt eius, expedita
        ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi, consectetur corporis culpa deserunt eius, expedita
        ipsum iste natus necessitatibus nobis omnisadipisicing eli
        pariatur porro praesentium quas repudiandae voluptatum!ipsum Lorem
        ipsum dolor sit amet, consectetur adipisicing
        elit. Ad asperiores aspernatur assumenda atque, distinctio excepturi maiores
        mollitia nulla obcaecati, officiis optio perspiciatis provident, quae ratione
        similique ullam ut voluptas voluptate.
      </mat-card-content>
      <mat-slide-toggle>I've read all the terms and conditions and I agree to them</mat-slide-toggle>
      <div>
        <button mat-button matStepperPrevious class="button is-primary" >Back</button>
        <button mat-button (click)="stepper.next()">Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious class="button is-primary" >Back</button>
        <button mat-button (click)="displayTwo()">Submit</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</mat-card>
</div>
