<div class="profilePage">
  <div class="page1">
    <div class="page1Contents">
    <div class="profilePic">
      <img src="../../assets/img/logo_sajilo.png" class="profileImg">
    </div>
    <div class="usertitle">
      {{userDetail.name}}
    </div>
    <div class="userLocation">
      {{contactDetail.permanentaddress}}
    </div>
    <span class="rating"><i class="material-icons">star</i>
    <i class="material-icons">star</i>
    <i class="material-icons">star</i>
    <i class="material-icons">star</i>
    <i class="material-icons">star</i>
    </span>
    <div class="achievements">
      <span class="achieve">
        <span>Total Deals</span>
        <span class="achieveNumber">15</span>
      </span>
      <span class="achieve">
        <span>Negotiated</span>
        <span class="achieveNumber">15</span>
      </span>
      <span class="achieve">
        <span>Total Bids</span>
        <span class="achieveNumber">15</span>
      </span>
    </div>
  </div>
    <div class="page1background">
    </div>
    <span class="downIcon">
      <i class="material-icons expandIcon">expand_more</i>
    </span>
  </div>
  <div class="pro2">
    <h1>Who are we</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto debitis dignissimos eligendi laborum laudantium molestias nam natus,
      odio odit perspiciatis praesentium quidem quos repellat sed soluta tempora voluptatibus voluptatum.</p>
  </div>
</div>

