.profilePage {
  .page1 {
    height: 100vh;
    background-image: url("../../../../../assets/img/bg_profile.jpeg");
    -webkit-background-size: cover;
    background-size: cover;
    .page1background {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      height: 95vh;
      width: 100%;
      top:5vh;
      z-index: 1;
    }
    .page1Contents{
      position:absolute;
      width:100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      z-index:5;
      .profilePic {
        border-radius: 50%;
        height:20vh;
        width:20vh;
        overflow:hidden;
        padding: 2vh;
        border: 5px solid white;
        background-color: rgb(0, 209, 178);
        .profileImg {
          height: 18vh;
          width: auto;
        }
      }
      .usertitle {
        font-size: 24px;
        color: white;
        font-weight: bold;
      }
      .userLocation {
        color: rgb(0, 209, 178);
        font-weight: bold;
      }
      .rating {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      .achievements {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .achieve {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 15vh;
          width: 15vh;
          border-radius: 50%;
          border: solid 5px white;
          margin: 0 3vh;
          color: white;
          .achieveNumber {
            font-size: 24px;
            color: rgb(0, 209, 178);
            font-weight: bolder;
          }
        }
      }

    }
    .downIcon{
      z-index:5;
      position: absolute;
      display:flex;
      justify-content: center;
      bottom:2vh;
      width:100%;
      .expandIcon{
        font-size:15vh;
        color:rgb(0,209,178);
        animation-name:expandIcon;
        animation-iteration-count:infinite;
        animation-duration:1s;
      }
    }
  }
  .pro2{
    background-color:rgb(0,209,178);
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5% 5%;
    h1{
      font-weight: bold;
      font-size: 48px;
    }
    p{
      font-size:18px;
    }

  }
}




@keyframes expandIcon{
  0% {transform: translateY(0px)}
  50%  {transform: translateY(15px)}
  100% {transform: translateY(0px)}
}
