<div class="topbar">
<div class="container">
  <h1>Hero Form</h1>
  <form (ngSubmit)="onPostSubmitClick()">
    <div class="form-group">
      <label for="name">Title</label>
      <input type="text" class="form-control"  [(ngModel)]="post.title" id="">
    </div>

    <div class="form-group">
      <label for="alterEgo">Description</label>
      <input type="text" class="form-control" [(ngModel)]="post.description" value="" name="" id="">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>              
</div>