<div class="registrationPage">
    <mat-card>
        <mat-vertical-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Fill out your name</ng-template>
                    <mat-form-field>
                        <input matInput placeholder="First name" formControlName="firstName" required>

                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Last name" formControlName="lastName" required>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="Date of Birth" formControlName="dob" id="dob">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                    </mat-form-field>
                    <br>
                    <mat-label> Gender:</mat-label>
                    <mat-radio-group formControlName="gender">
                        <mat-radio-button value="Male">Male</mat-radio-button>
                        <mat-radio-button value="Female">Female</mat-radio-button>
                        <br>
                    </mat-radio-group>
                    <mat-form-field>
                        <input matInput placeholder="Location" formControlName="permanentAddress" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Contact number" formControlName="phone"
                               required>
                    </mat-form-field>
                    <div>
                        <button class="button is-primary" mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>


            <!--</mat-step>-->
            <mat-step [stepControl]="secondFormGroup" class="CompanyDetails">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>A little sign of relief</ng-template>
                    <mat-label>Citizenship Certificate</mat-label>
                    <br>
                    <input type=file placeholder="Company name" formControlName="documenttypename" ><br>

                    <br>
                    <div>
                        <button class="button is-primary" mat-button matStepperPrevious>Back</button>
                        <button class="button is-primary" mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Terms and Conditions</ng-template>
                <mat-card-content class="terms">
                    Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Adipisci aspernatur beatae commodi, consectetur corporis culpa deserunt eius,
                    expedita
                    ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi,
                    consectetur corporis culpa deserunt eius, expedita
                    ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi,
                    consectetur corporis culpa deserunt eius, expedita
                    ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi,
                    consectetur corporis culpa deserunt eius, expedita
                    ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi,
                    consectetur corporis culpa deserunt eius, expedita
                    ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi,
                    consectetur corporis culpa deserunt eius, expedita
                    ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi,
                    consectetur corporis culpa deserunt eius, expedita
                    ipsum iste natus necessitatibus nobis omnisipsum iste natus necessitatibus nobis omnisadipisicing
                    elit. Adipisci aspernatur beatae commodi, consectetur corporis culpa deserunt eius, expedita
                    ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi,
                    consectetur corporis culpa deserunt eius, expedita
                    ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi,
                    consectetur corporis culpa deserunt eius, expedita
                    ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi,
                    consectetur corporis culpa deserunt eius, expedita
                    ipsum iste natus necessitatibus nobis omnisadipisicing eliipsum iste natus necessitatibus nobis
                    omnisadipisicing elit. Adipisci aspernatur beatae commodi, consectetur corporis culpa deserunt eius,
                    expedita
                    ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi,
                    consectetur corporis culpa deserunt eius, expedita
                    ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi,
                    consectetur corporis culpa deserunt eius, expedita
                    ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi,
                    consectetur corporis culpa deserunt eius, expedita
                    ipsum iste natus necessitatibus nobis omnisadipisicing eliipsum iste natus necessitatibus nobis
                    omnisadipisicing elit. Adipisci aspernatur beatae commodi, consectetur corporis culpa deserunt eius,
                    expedita
                    ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi,
                    consectetur corporis culpa deserunt eius, expedita
                    ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi,
                    consectetur corporis culpa deserunt eius, expedita
                    ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi,
                    consectetur corporis culpa deserunt eius, expedita
                    ipsum iste natus necessitatibus nobis omnisadipisicing eliipsum iste natus necessitatibus nobis
                    omnisadipisicing elit. Adipisci aspernatur beatae commodi, consectetur corporis culpa deserunt eius,
                    expedita
                    ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi,
                    consectetur corporis culpa deserunt eius, expedita
                    ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi,
                    consectetur corporis culpa deserunt eius, expedita
                    ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi,
                    consectetur corporis culpa deserunt eius, expedita
                    ipsum iste natus necessitatibus nobis omnisadipisicing eliipsum iste natus necessitatibus nobis
                    omnisadipisicing elit. Adipisci aspernatur beatae commodi, consectetur corporis culpa deserunt eius,
                    expedita
                    ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi,
                    consectetur corporis culpa deserunt eius, expedita
                    ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi,
                    consectetur corporis culpa deserunt eius, expedita
                    ipsum iste natus necessitatibus nobis omnisadipisicing elit. Adipisci aspernatur beatae commodi,
                    consectetur corporis culpa deserunt eius, expedita
                    ipsum iste natus necessitatibus nobis omnisadipisicing eli
                    pariatur porro praesentium quas repudiandae voluptatum!ipsum Lorem
                    ipsum dolor sit amet, consectetur adipisicing
                    elit. Ad asperiores aspernatur assumenda atque, distinctio excepturi maiores
                    mollitia nulla obcaecati, officiis optio perspiciatis provident, quae ratione
                    similique ullam ut voluptas voluptate.
                </mat-card-content>
                <mat-slide-toggle [(ngModel)]="agreed">I've read all the terms and conditions and I agree to them</mat-slide-toggle>
                <div>
                    <div *ngIf="agreed==false">
                    <button mat-button matStepperPrevious class="button is-primary">Back</button>
                    </div>
                    <div *ngIf="agreed==true">
                        <button mat-button matStepperNext class="button is-primary">Next</button>
                    </div>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                You are now done.
                <div>
                    <button mat-button matStepperPrevious class="button is-primary" >Back</button>
                    <button mat-button (click)="displayOne()">Submit</button>
                </div>
            </mat-step>
        </mat-vertical-stepper>
    </mat-card>
</div>
