<div class="createpost">
</div>
<div>
    <mat-card>
        <button class="modal-close"></button>
        <mat-vertical-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Step 1</ng-template>
                    <mat-form-field>
                        <input matInput name="title" id="title"
                               placeholder="Enter title" formControlName="title" required>
                    </mat-form-field>
                    <div>
                        <ng-template matStepLabel>Enter Budget Range(Minimum)</ng-template>
                        <mat-form-field>
                            <input matInput type="number" name="budget_from" formControlName="budget_from" id="budget_from"
                                   placeholder="Minimum Budget" required>
                        </mat-form-field>
                    </div>
                    <div>
                        <ng-template matStepLabel>Enter Budget Range(Maximum)</ng-template>
                        <mat-form-field>
                            <input matInput type="number" name="budget_to" id="budget_to" placeholder="Maximum Budget"
                                   formControlName="budget_to" required>
                        </mat-form-field>
                    </div>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>

                </form>
            </mat-step>

            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Step 2</ng-template>
                    <mat-form-field>
                        <input matInput name="description" placeholder="Description" formControlName="description" required>
                    </mat-form-field>
                    <!--<div>asdasd
                       <ng-template matStepLabel>Enter Expiry Date)</ng-template>
                      <mat-form-field>
                        <input matInput placeholder="Expiry Date" formControlName="secondCtrl" required>
                      </mat-form-field>
                    </div> -->
                    <div>
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" name="expiry_date" id="expiry_date"
                                   placeholder="Choose a date" formControlName="expiry_date" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div>
                        <ng-template matStepLabel>Enter Category</ng-template>
                            Enter Category<br>
                            <!--<input matInput name="category" [(ngModel)]="post.category" id="category" placeholder="Category" formControlName="secondCtrl" required>-->
                            <div class="columns">
                                <div class="column is-6 ">
                                    <div>
                                        <mat-chip-list>
                                            <mat-chip   *ngFor="let tag of listOfTags" [selectable]="selectable" [removable]="removable" (click)="remove(tag)">
                                                {{tag}}
                                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                            </mat-chip>
                                        </mat-chip-list>
                                    </div>
                                </div>
                                <div class="column is-6 ">
                                    <mat-accordion>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    Electronics
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <mat-chip-list>
                                                <mat-chip (select)="pushTag(tag.name)" *ngFor="let tag of textiles">
                                                    <div class="chips" (click)="pushTag(tag.name)" >{{tag.name}}</div>
                                                </mat-chip>
                                            </mat-chip-list>
                                        </mat-expansion-panel>
                                        <mat-expansion-panel (opened)="panelOpenState = true"
                                                             (closed)="panelOpenState = false">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    Textiles
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <mat-chip-list>
                                                <mat-chip (select)="pushTag(tag.name)" *ngFor="let tag of textiles">
                                                    <div class="chips" (click)="pushTag(tag.name)" >{{tag.name}}</div>
                                                </mat-chip>
                                            </mat-chip-list>
                                        </mat-expansion-panel>
                                        <mat-expansion-panel (opened)="panelOpenState = true"
                                                             (closed)="panelOpenState = false">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    Wood
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <mat-chip-list>
                                                <mat-chip (select)="pushTag(tag.name)" *ngFor="let tag of wood">
                                                    <div class="chips" (click)="pushTag(tag.name)" >{{tag.name}}</div>
                                                </mat-chip>
                                            </mat-chip-list>
                                        </mat-expansion-panel>
                                    </mat-accordion>
                                </div>
                            </div>
                        >
                    </div>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button type="submit" matStepperNext mat-button>Next</button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="thirdFormGroup">
                <ng-template matStepLabel>Done</ng-template>
                You are now done.
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="onPostSubmitClick()">Post</button>
                </div>
            </mat-step>
        </mat-vertical-stepper>
    </mat-card>
</div>