.createPost{
vertical-align: middle;
  display: flex;
  position:fixed;
  align-content: center;
  background-color: rgba(0,0,0,0.1);
  height:100%;
  width:100%;
  
}
.createpost{
  padding: 4% 0;
  background-color: rgb(15, 13, 13);
}

mat-card{
  margin:auto;
  width:600px;
}
