<div class="recent">
  <div class="columns">
    <div class="column is-9">
  <mat-card class="recentTitle"><mat-card-title>Recent</mat-card-title></mat-card>
  <mat-card class="post">
    <div class="columns">
      <div class="column is-4 imageHero"><img src="../../../../assets/img/img1.png" class="imgPost"></div>
      <div class="column is-5">

        <mat-card-title>{{list.title}}</mat-card-title>
        <mat-card-subtitle>Quality:High<br>
         Quantity:30kgs
         <br>
        

          About Customer:
          <p>
            <i class="material-icons">star_rate</i><i class="material-icons">star_rate</i><i class="material-icons">star_rate</i><i class="material-icons">star_rate</i><i class="material-icons">star_rate</i>
          </p>           
          <div class="columns customerdetails" >
            <div class="column is-4">
              <i class="material-icons">done</i>Verified</div>
            <div class="column is-4">25 Negotiations</div>
            <div class="column is-4">20 Deals</div>
          </div>
          <br>
        </mat-card-subtitle>
      </div>
      <div class="column is-3">
        <mat-card-subtitle align="center">
          Upto Rs. 50000
          <br>
          Negotiable
          <br>
          <mat-card-title>Total bids:45</mat-card-title>
          <button class="button is-primary is-large">Edit post</button>
        </mat-card-subtitle>
      </div>

    </div>
    <div class="description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, quia recusandae? Accusamus aperiam deserunt doloribus
      eligendi eum explicabo incidunt inventore labore necessitatibus, perferendis praesentium quam qui quisquam reiciendis
      repellat vitae
    </div>
  </mat-card>



    </div>
    <div class="column is-3">
      <div class="advertisement">
        <mat-card align="center">
          <div>
            <mat-card-title >Get the best of our site</mat-card-title>
            <button mat-button class="button is-primary"> Become a premium member</button>
          </div>
        </mat-card>
      </div>
      <br>
      <div class="subscriptionmessage">
        <mat-card>
          <div>
            <mat-card-title>Tired of waiting for the best deals?</mat-card-title>
            <mat-card-subtitle>Find the best offers in the market</mat-card-subtitle>
            <button mat-button class="button is-primary">Subscribe now</button>
          </div>
        </mat-card>
      </div>
      <div class="topBidders">
        <mat-card>
          <mat-card-title>Top Bidders</mat-card-title>
          <hr>
          <mat-card-content>The best bid on your post Need new electronics was Rs.1500000.
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
