.recent {
  background-color:rgba(0,0,0,0.09);
  padding-top: 5%;
  padding-right: 10%;
  padding-left: 10%;
}
mat-card.post{
  flex-direction: column;
  .columns{
    .column{
      padding:0;
    }
    .imageHero {
      justify-content: center;
      overflow:hidden;
      img{
        width: 200px;
        margin:auto;
        display:block;
      }

    }
    .is-5{
      text-align: left;
      //height: 200px;
    }
  }
}

i{
  padding:0;
  margin:0;
  width:24px;
}

mat-card-title{
  color:rgb(0,209,178);
}

mat-card{
  margin-bottom:2%;
}



.advertisement{
  background-image: url('../../../../../../assets/img/adprofile.png');
  background-size: cover;
  height:250px;
  width:250px;
  mat-card{
    height:250px;
    width:250px;
    background-color:rgba(0,0,0,0.3);
    overflow:hidden;
    display: flex;
    div{
      margin: auto;
      mat-card-title{
        color:white;
      }
    }
  }
}
.subscriptionmessage{
  height:200px;
  width: 250px;
  mat-card{
    height:200px;
    width: 250px;
    display: flex;
    div{
      margin:auto;
      align-content: center;
      text-align: center;
    }
  }
}

.topBidders{
  margin-top:5%;
  width:250px;
  mat-card{
    width:250px;
  }
}

div.customerdetails{
  vertical-align: middle;
  margin:0;
  width:100%;
  padding:0;
  .is-4{
    padding:3px;
    vertical-align: middle;
    display: flex;
    width:100px;
  }
}
