<div class="landingPage">
    <div class="columns">
    <div class="column is-7 contentAreaBox" id="contentAreaBox">
      <div class="landNav">
        <div (click)="displayContent(1)" id="logo"><img class="logoImage" src="../../assets/img/logo_sajilo.png"></div>
        <span (click)="displayContent(1)" id="home">Home</span>
        <span  (click)="displayContent(2)" id="what">What</span>
        <span (click)="displayContent(2)">How</span>
        <span (click)="displayContent(2)">Why</span>
        <span (click)="displayContent(2)">Help</span>
        <button (click)="displayContent(1)" mat-button class="button is-primary is-rounded getStarted">Get Started</button>
      </div>

      <div class="contentArea">

        <div class="textAreaBox" *ngIf="this.contentItem==1">
          <div class="welcomeTexts">
            <h1>Welcome to</h1>
            <h2>SAJILOBOLI</h2>
            <h3>The better way to get the best deals</h3>
          </div>
          <img src="../../assets/img/microphoneMan.png" class="microMan" >
          <img src="../../assets/img/cloud.png" class="cloud1 appearIn" >
          <img src="../../assets/img/cloud.png" class="cloud2 appearIn" >
          <img src="../../assets/img/cloud.png" class="cloud3 appearIn" >
      </div>

        <div  *ngIf="this.contentItem==2" class="contentInfo">

         <img src="../../assets/img/background_1.png" class="hills appearIn">
          <!--<img src="../../assets/img/cloud.png" class="cloud4" >-->
          <img src="../../assets/img/cloud.png" class="cloud8" >
          <img src="../../assets/img/cloud.png" class="cloud5" >
          <img src="../../assets/img/cloud.png" class="cloud6" >
          <div *ngIf="this.display==1" class="contentAreaLand">
            <app-page1></app-page1>
          </div>
        </div>
        </div>

      </div>

    <div class="column is-2 floatingButtons" id="loginarea">
      <div class="buttonsArea">
      <div class="buttonsForLogin">
        <div class="LoginButton color" (click)="displayBox(1)" id="loginButton"><span >Login</span></div>
        <div class="RegisterButton" id="registerButton" (click)="displayBox(2)"><span >Register</span></div>
      </div>
      <div class="whiteBackground appearIn" id="whitebackground">
      </div>
      </div>
    </div>
    <div class="column is-3 loginRegSection" id="loginarea2">
    <div class="loginSection MoveIn" id="loginSection">
  <div *ngIf="this.display==1" class="displayBox1 appearIn" id="loginBox">
    <form>
      <mat-card-title><h2>LOG IN</h2></mat-card-title>
      <mat-form-field>
        <input type="email" auto-complete="off" matInput placeholder="Email" [(ngModel)]="login.email" id="email" name="email">

      </mat-form-field>
      <br>
      <mat-form-field>
        <input auto-complete="off" matInput placeholder="Password" [(ngModel)]="login.password" [type]="hide?'password':'text'" #password="ngModel" name="password">
        <i class="material-icons" matSuffix (click)="hide = !hide">{{this.hide ? 'visibility_off' : 'visibility'}}</i>
      </mat-form-field>
      <p>FORGET PASSWORD?</p><br>
      <button type="submit" mat-button class="button is-primary is-rounded" (click)="onLoginSubmit()">LOG IN</button>
    </form>
    </div>
      <div *ngIf="this.display==2" class="displayBox2 appearIn" id="registrationBox">
        <form>
          <mat-card-title> <h2>SIGN UP</h2></mat-card-title><br>
          <div class="inputbox">
            <mat-form-field>
              <input type="email" matInput placeholder="Email" [(ngModel)]="registration.email" name="regisEmail">
            </mat-form-field><br>
            <mat-form-field>
              <input auto-complete="off" matInput placeholder="Password" name="regispassword"  name="regisPassword" [(ngModel)]="registration.password" [type]="hide2?'password':'text'" #password="ngModel" name="password">
              <i class="material-icons" matSuffix (click)="hide2 = !hide2">{{this.hide ? 'visibility_off' : 'visibility'}}</i>
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-select placeholder="I am a " [(ngModel)]="registration.usertype" name="regisType">
                <mat-option value="vendor">Vendor</mat-option>
                <mat-option value="customer">Customer</mat-option>
              </mat-select>
            </mat-form-field><br>
          </div>
          <button mat-button class="button is-primary is-rounded" routerLink="register" (click)="onRegisSubmit()">SIGN UP</button></form>
      </div>
    </div>

