
.landingPage{
  background-image:linear-gradient(-90deg, rgb(41,249,188), rgb(35,194,205));
  height:100%;
  background-size:cover;
  position:fixed;
  width:100%;
  animation: appear;
  animation-duration: 0.3s;
  .columns{
    padding:0;
    overflow:hidden;
  }

}

.hills{
  width:100%;
  height:auto;
  position:fixed;
  bottom:-5vh;
  z-index: 0;
}
.contentAreaBox{
  position:relative;
  display:flex;
  flex-direction: column;
  justify-content: left;
  align-content: left;
  .landNav{
    padding:2vh;
    color:white;
    display:flex;
    align-items: center;
    span{
      padding: 5px 20px;
    }
    span:hover{
      border-bottom: solid 3px gray;
    }
  }
  .contentArea{
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height:100%;
    .textAreaBox{
      position:relative;
      //border:solid 2px black;
      height:40%;
      padding-left:20%;
      .cloud1,.cloud2,.cloud3{
        position:absolute;
      }
      .cloud1{
        top:-40%;
        left:0;
        transform: scale(0.2);
        animation: moveCloud1;
        animation-duration: 5s;
        animation-delay: 1s;
        animation-iteration-count: infinite;
      }
      .cloud2{
        right:-20%;
        top:-50%;
        transform: scale(0.4);
        animation: moveCloud2;
        animation-duration: 7s;
        animation-delay: 1s;
        animation-iteration-count: infinite;
      }
      .cloud3{
        bottom:-20%;
        left:0;
        transform: scale(0.8);
        animation: moveCloud3;
        animation-duration: 9s;
        animation-delay: .5s;
        animation-iteration-count: infinite;
      }
      .microMan{
        position:absolute;
        bottom:-30%;
        right:-15%;
        height:300px;
        width: auto;
        animation: appear;
        animation-duration: 1s;
      }
      .welcomeTexts{
        position:absolute;
        top:0;
        line-height: 1;
        color:white;
        h1, h3 {
          font-size: 20px;
        }
        h1{
          animation: appear;
          animation-duration:0.3s;
        }
        h2 {
          font-size: 70px;
          animation: appear;
          animation-duration:0.6s;
        }
        h3 {
          letter-spacing: 3px;
          animation: appear;
          animation-duration:1.2s;
        }
      }
    }
  }
}
.floatingButtons {
  padding-top:30%;
  height:100vh;
  display:flex;
  justify-content: center;
  align-content: center;
  flex-direction: column-reverse;
  .buttonsArea{
    position:relative;
    display:flex;
    align-content: center;
    justify-content:center;
    color:white;
    .whiteBackground{
      top:80%;
      position: absolute;
      z-index: 1;
      border-radius:25px;
      background-color:white;
      height:50px;
      width:95%;
      //top:0;
    }
    .buttonsForLogin {
      position: absolute;
      margin: auto 0;
      height:100px;
      z-index: 2;
      width:60%;
      .LoginButton, .RegisterButton{
        padding:10px 10px 10px 0px;
        height:50px;
        display:flex;
        align-content: center;
        justify-content: center;
        vertical-align: middle;
      }
    }

  }
}
.contentAreaLand{
  position:absolute;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  z-index: 5;
}
.contentInfo{
  height:100%;
  width:100%;
  display:flex;
  position:relative;
  flex-direction: row;
  justify-content: center;
  align-items:center;
}
.cloud4{
  top:4%;
  left:5%;
  z-index: 1;
  position:absolute;
  transform: scale(0.2);
  animation: moveCloud1;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
.cloud8{
  top:-14%;
  right:5%;
  z-index: 1;
  position:absolute;
  transform: scale(0.2);
  animation: moveCloud1;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
.cloud5{
  position:absolute;
  right:24%;
  top:20%;
  transform: scale(0.4);
  animation: moveCloud2;
  animation-duration: 7s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
.cloud6{
  opacity: 0.3;
  position:absolute;
  z-index: 1;
  top:8%;
  left:20%;
  transform: scale(0.8);
  animation: moveCloud3;
  animation-duration: 9s;
  animation-delay: .5s;
  animation-iteration-count: infinite;
}
.color{
  color:black;
}
.logoImage{
  height:8vh;
  width:auto;
}
.loginRegSection{
  position:relative;
  height:100%;
  padding:0;
}
.loginSection{
  top:-10%;
  height:120%;
  right:0;
  position:fixed;
  display:flex;
  width:32%;
  border-top-left-radius: 70%;
  border-bottom-left-radius: 70%;
  background-color:white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
}

.loginSectionInitialPosition{

}
.displayBox1, .displayBox2{
  display:flex;
  margin:auto;
  flex-direction:column;
  justify-content: center;
  align-content: center;
}
.MoveIn{
  animation:animateright 1s}
.appearIn{
  animation:appear 2s;
}
.MoveOut{
  animation:animateOut 1s}
@keyframes animateOut{
  from{right:0;opacity:1}
  to{right:-500px;opacity:0}
}
@keyframes animateright{
  from{right:-500px;opacity:0}
  to{right:0;opacity:1}
}
@keyframes appear{
  from{opacity:0}
  to{opacity:1}
}

@keyframes moveCloud1{
  100% {transform: translateX(0px) scale(0.2) }
  50%  {transform: translateX(50px) scale(0.2);}
  100% {transform: translateX(0px) scale(0.2)}
}
@keyframes moveCloud2{
  100% {transform: translateX(0px) scale(0.4) }
  50%  {transform: translateX(50px) scale(0.4) ;}
  100% {transform: translateX(0px) scale(0.4) }
}
@keyframes moveCloud3{
  100% {transform: translateX(0px) scale(0.8)}
  50%  {transform: translateX(50px) scale(0.8);}
  100% {transform: translateX(0px) scale(0.8)}
}

@keyframes moveOut{

}
.getStarted{
  position:fixed;
  right:15px;
  top:5px;
}
