.excuseText{
  font-size: 30px;
}
.welcomeContent{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding:5vh;
  mat-card{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    width:50vh;
    height:20vh;
    //padding:10vh;
    margin-left:3vh;
    margin-bottom:3vh;

    color:white;
    .total{
      font-size:18px;
      font-weight: bolder;

    }
  }
  .userReq{
    background-color: rgb(0,209,98);
  }
  .postApprov{
    background-color: rgba(0,0,0,0.9);
  }
  .negoMade{
    background-color: rgb(0,209,98);
  }
  .feedbacks{
    background-color: rgba(0,0,0,0.87);
  }
}
