<div class="welcomeAdminPage">
  <span class="excuseText">Excuse Me Admin, You have</span>
  <div class="welcomeContent">
    <mat-card class="userReq">
      <div><span class="total">Total Users: 299</span><br>11 User Requests Pending</div>
    </mat-card>
    <mat-card class="postApprov">
      <div><span class="total">350 Posts Made</span> <br> 300 Posts Approval Pending</div>
    </mat-card>
    <mat-card class="negoMade">
      <div><span class="total">170 Negotiations made </span><br> 9 Negotiations Pending</div>
    </mat-card>
    <mat-card class="feedbacks">
      <div>17 Feedbacks</div>
    </mat-card>
  </div>
</div>
