.customerHome{
  padding-top:5%;
  padding-left:10%;
  padding-right: 15%;
  background-color: rgba(0,0,0,0.03);

}

.validationMessage {
  mat-card {
    background-color: rgb(45, 48, 63);
    overflow: hidden;
    height: 150px;
  }
}
  .imgMascot{
    margin-top:-12%;
    transform: scale(0.8,.8);
  }

  div.validationContent>mat-card-title{
    margin:0;
    font-size:36px;
    color:white;
  }

  div.validationContent{
    height:150px;
    padding:5px;
    color:white;
    mat-card-subtitle{
      font-size:24px;
      color:rgb(0,128,128);
    }
    mat-card-content{
      font-size:20px;
      color:rgb(0,128,128);
    }
  }

  mat-card.tutorialFirstTimeMessage{
    background-color:white;
    margin-top:2%;
    height:150px;
    display: flex;
    flex-direction: column;
    padding:15px;
  }

  .PostBoxes{
    margin-top:2%;
    div.columns{
      div.column{
        mat-card {
          min-width: 200px;
          min-height: 150px;
          display: flex;
          margin: auto;
        }
      }
    }
  }

  .whatsNew{
    margin-top:2%;
    mat-card{
      mat-card-content{
        font-size:12px;
      }
    }
  }

  .advertisement{
    background-image: url('../../../../../assets/img/adprofile.png');
    background-size: cover;
    overflow: hidden;
    height:250px;
    width:250px;
    mat-card{
      height:250px;
      width:250px;
      background-color:rgba(0,0,0,0.3);
      overflow:hidden;
      display: flex;
      div{
        margin: auto;
        mat-card-title{
          color:white;
        }
      }
    }
  }
  .subscriptionmessage{
    height:200px;
    width: 250px;
    mat-card{
      height:200px;
      width: 250px;
      display: flex;
      div{
        margin:auto;
        align-content: center;
        text-align: center;
      }
    }
  }

  .topBidders{
    margin-top:5%;
    width:250px;
    mat-card{
      width:250px;
    }
  }

  button{
    margin:0 5px;
  }

  .recentPosts{
    background-image: url("../../../../../assets/img/img1.png");
    font-size: 24px;
    font-weight: bold;
    display:flex;
    justify-content: center;
    vertical-align: middle;
    div{
      margin:auto;
      color:white;
    }
  }

  .yourDeals{
    background-image: url("../../../../../assets/img/img2.png");
    background-color: rgba(0,0,0,0.1);
    font-size: 24px;
    font-weight: bold;
    display:flex;
    justify-content: center;
    vertical-align: middle;
    div{
      margin:auto;
      color:white;
    }
  }

  .pendingDeals{
    background-image: url("../../../../../assets/img/img3.png");
    font-size: 24px;
    font-weight: bold;
    display:flex;
    justify-content: center;
    vertical-align: middle;
    div{
      margin:auto;
      color:white;
    }
  }
