<div class="customerHome">
  <div class="columns">
    <div class="column is-9">
        <div class="validationMessage">
          <mat-card>
            <div class="columns">
              <div class="column is-8 validationContent">
              UH OH !
                Looks like you have not been validated yet
                <mat-card-content>Enter your details to be a validated member</mat-card-content>
              </div>
              <div class="column is-3" class="imgMascot">
                <img src="../../../assets/img/page4mascot.png">
              </div>
            </div>
          </mat-card>
        </div>
      <div>
        <mat-card class="tutorialFirstTimeMessage" align="center">
            <mat-card-title>Want to get the best deals in the market?</mat-card-title>
          <mat-card-subtitle>Start now and get the best offers from all over the place</mat-card-subtitle>
          <div  class="firsttimebuttons">
            <button class="button is-primary">Create Post</button>
           <button class="button is-primary">Learn How</button>

          </div>
        </mat-card>
      </div>

      <div class="PostBoxes">
        <div class="columns">
          <div class="column ">
            <mat-card class="recentPosts"><div>Recent Posts</div>
            </mat-card>
          </div>
          <div class="column ">
            <mat-card class="yourDeals"><div>Your Deals</div>
            </mat-card></div>
          <div class="column ">
            <mat-card class="pendingDeals"><div>Pending Deals</div>
            </mat-card>
          </div>
        </div>
      </div>


      <div class="whatsNew">
        <mat-card>
          <mat-card-title>What new !</mat-card-title>
          <hr>
          <mat-card-content>Ram Shah just commented on your post</mat-card-content>
          <hr>
          <mat-card-content>Ram Shah just commented on your post</mat-card-content>

        </mat-card>
      </div>
    </div>
    <div class="column is-3">
      <div class="advertisement">
        <mat-card align="center">
          <div>
          <mat-card-title >Get the best of our site</mat-card-title>
          <button mat-button class="button is-primary"> Become a premium member</button>
          </div>
        </mat-card>
      </div>
      <br>
      <div class="subscriptionmessage">
        <mat-card>
          <div>
          <mat-card-title>Tired of waiting for the best deals?</mat-card-title>
          <mat-card-subtitle>Find the best offers in the market</mat-card-subtitle>
          <button mat-button class="button is-primary">Subscribe now</button>
          </div>
        </mat-card>
      </div>
      <div class="topBidders">
       <mat-card>
         <mat-card-title>Top Bidders</mat-card-title>
         <hr>
         <mat-card-content>The best bid on your post Need new electronics was Rs.1500000.
         </mat-card-content>
       </mat-card>
      </div>
    </div>
  </div>
</div>
