/* You can add global styles to this file, and also import other style files */
///* You can add global styles to this file, and also import other style files */
////*{
////  margin:0;
////}
@import url('https://fonts.googleapis.com/css?family=Lato');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html{
  //background-color:rgb(41,249,188);
}
*{
  font-family: 'Lato';
  cursor:default;
}
.mat-card{
  padding:0;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
:focus{
  outline:0;
}

