<span class="headingTitle">
  <button mat-raised-button class="button is-primary is-medium is-rounded" (click)="changeContents(1)">User Requests</button>
  <button mat-raised-button class="button is-rounded is-medium" (click)="changeContents(2)">All Users</button>
  <button mat-raised-button class="button is-rounded is-medium" (click)="changeContents(3)">Rejected Users</button></span>
<mat-card *ngIf="this.changeContent==1">
<table matSort (matSortChange)="sortData($event)">
  <tr>
    <th mat-sort-header="id">User ID</th>
    <th mat-sort-header="name">Name</th>
    <th mat-sort-header="userverification">Email Verification</th>
    <!--<th mat-sort-header="pandata">PAN data</th>-->
    <th mat-sort-header="location">Location</th>
    <th mat-sort-header="email">Email</th>
    <th mat-sort-header="dateregistered">Date Registered</th>
    <th>Action</th>
  </tr>

  <tr *ngFor="let userData of sortedData">
    <td class="userId">{{userData.id}}</td>
    <td>{{userData.name}}</td>
    <td>{{booleanValueReturn(userData.emailVerified)}}</td>
    <td>{{userData.member_detail.contact.permanentaddress}}</td>
    <td>{{userData.email}}</td>
    <td>{{transform(userData.createdAt.date)}}</td>
    <td class="action"><button class="button is-primary" (click)="viewDetails(userData)">View Details</button>
    <span>
      <i class="material-icons success" (click)="approveUser(userData.id)">thumb_up</i><i class="material-icons danger">thumb_down</i></span></td>
  </tr>

</table>
</mat-card>
<mat-card *ngIf="this.changeContent==2">
<table matSort (matSortChange)="sortData($event)">
  <tr>
    <th mat-sort-header="id">User ID</th>
    <th mat-sort-header="name">Name</th>
    <th mat-sort-header="userverification">Email Verification</th>
    <!--<th mat-sort-header="pandata">PAN data</th>-->
    <th mat-sort-header="location">Location</th>
    <th mat-sort-header="email">Email</th>
    <th mat-sort-header="dateregistered">Date Registered</th>
    <th>Action</th>
  </tr>

  <tr *ngFor="let userData of sortedData2">
    <td class="userId">{{userData.id}}</td>
    <td>{{userData.name}}</td>
    <td>{{booleanValueReturn(userData.emailVerified)}}</td>
    <td>{{userData.member_detail.contact.permanentaddress}}</td>
    <td>{{userData.email}}</td>
    <td>{{transform(userData.createdAt.date)}}</td>
    <td class="action"><button class="button is-primary" (click)="viewDetails(userData)">View Details</button>
    <span>
      <i class="material-icons success ">thumb_up</i><i class="material-icons danger">thumb_down</i></span></td>
  </tr>

</table>
</mat-card>
<mat-card *ngIf="this.changeContent==3">
<table matSort (matSortChange)="sortData($event)">
  <tr>
    <th mat-sort-header="id">User ID</th>
    <th mat-sort-header="name">Name</th>
    <th mat-sort-header="userverification">Email Verification</th>
    <!--<th mat-sort-header="pandata">PAN data</th>-->
    <th mat-sort-header="location">Location</th>
    <th mat-sort-header="email">Email</th>
    <th mat-sort-header="dateregistered">Date Registered</th>
    <th>Action</th>
  </tr>

  <tr *ngFor="let userData of sortedData3">
    <td class="userId">{{userData.id}}</td>
    <td>{{userData.name}}</td>
    <td>{{booleanValueReturn(userData.emailVerified)}}</td>
    <td>{{userData.member_detail.contact.permanentaddress}}</td>
    <td>{{userData.email}}</td>
    <td>{{transform(userData.createdAt.date)}}</td>
    <td class="action"><button class="button is-primary" (click)="viewDetails(userData)">View Details</button>
    <span>
      <i class="material-icons success ">thumb_up</i><i class="material-icons danger">thumb_down</i></span></td>
  </tr>

</table>
</mat-card>

