<span class="headingTitle">
  <button mat-raised-button class="button is-primary is-medium is-rounded">Posts</button>

<mat-card>
  <table matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="id">User ID</th>
      <th mat-sort-header="title">Name</th>
      <th mat-sort-header="budgetfrom">Budget From</th>
      <!--<th mat-sort-header="pandata">PAN data</th>-->
      <th mat-sort-header="budgetto">Budget To</th>
      <th mat-sort-header="expirydate">Expiry Date</th>
      <th mat-sort-header="updatedat">Last Update</th>
      <th>Action</th>
    </tr>

    <tr *ngFor="let userData of sortedData">
      <td class="userId">{{userData.id}}</td>
      <td>{{userData.title}}</td>
      <td>{{userData.budget_from}}</td>
      <td>{{userData.budget_to}}</td>
      <td>{{transform(userData.expiry_date)}}</td>
      <td>{{transform(userData.updated_at.date)}}</td>
      <td class="action"><button class="button is-primary">View Details</button>
        <span>
      <i class="material-icons success" (click)="approveUser(userData.id)">thumb_up</i><i class="material-icons danger">thumb_down</i></span></td>
    </tr>

  </table>
</mat-card>



