.headingTitle{
  margin:5vh;
  button{
    margin-right:3vh;
    width:20vh;
  }
}
table {
  width: 100%;
}
mat-card{
  margin:1vh 5vh;
}
th.mat-sort-header-sorted {
  color: black;
}
.userId{
  //display:flex;
  justify-content: center;
}
td{

  //border-bottom: gray solid 0.5px;
  padding:1vh 0;
}
.success{
  color:green
}
.danger{
  color:red;
}
.action{
  display:flex;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
}
i{
  padding:0 1vh;
}
